<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            Job Portal
        {% endblock %}
    </title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
        rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand" href="{% url 'home' %}">
            JobPortal
        </a>

        <div>

            <a href="{% url 'login' %}"
               class="btn btn-outline-light me-2">

                Login

            </a>

            <a href="{% url 'register' %}"
               class="btn btn-success">

                Register

            </a>

        </div>

    </div>

</nav>

<div class="container mt-5">

    {% block content %}

    {% endblock %}

</div>

</body>

</html>