{% extends 'accounts/base.html' %}

{% block title %}
Candidate Dashboard
{% endblock %}

{% block content %}

<div class="container mt-5">

    <h2>
        Welcome,
        {{ user.username }} 👋
    </h2>

    <hr>

    <h5>
        Role:
        {{ user.role }}
    </h5>

    <div class="list-group mt-4">

        <a href="#" class="list-group-item list-group-item-action">
            Browse Jobs
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            Applied Jobs
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            My Profile
        </a>

        <a href="#" class="list-group-item list-group-item-action">
            Resume
        </a>

    </div>

</div>

{% endblock %}